<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h2 th:text=" 'Hello ' + ${#httpServletRequest.remoteUser} + ' !'">Login as</h2>
	<p th:text="${messages}"></p>
    <br>
    <br>
	<div class="row">
        	<div class="col-md-6">
        		<div class = "card">
        			<div class="card-header">
        				Update Password
        			</div>
        			<div class="card-body">
        				<form th:action="@{/user/submitUpdatePassword}" method="post">
        					<div class ="row form-group">
        						<label class="col-sm-4">Password Lama: </label>
        						<input class="col-sm-8 form-control input-sm" id="oldPassword" type="password" name="oldPassword" />
        					</div>
        					<div class ="row form-group">
        						<label class="col-sm-4">Password Baru: </label>
        						<input class="col-sm-8 form-control input-sm" id="newPassword" type="password" name="newPassword" />
        					</div>
        					<div class ="row form-group">
        						<label class="col-sm-4">Konfirmasi Password: </label>
        						<input class="col-sm-8 form-control input-sm" id="confirmPass" type="password" name="confirmPass" />
        					</div>
        					<div>
        						<button type="submit" class="btn btn-info">Simpan</button>
        					</div>
        				</form>
        			</div>
        		</div>
        	</div>
        </div>
</body>